@mixin focus-outline($color: $green-400, $width: 2px) {
  outline: $width solid $color;
}

@mixin input-icon($icon-path) {
  background-image: url($icon-path);
  background-repeat: no-repeat;
  background-position: 16px center;
}
